### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### Installation ###
*.egg-info
dist
build
doc/_build

## direnv ###
.direnv
.envrc

### Coverage info ###
.coverage

### virtualenv environment
env
