[submodule "external/miallib"]
	path = external/miallib
	url = https://github.com/ec-jrc/jeolib-miallib.git
	branch = master
[submodule "external/jiplib"]
	path = external/jiplib
	url = https://github.com/ec-jrc/jeolib-jiplib.git
	branch = master
